.container {
  width: 100%;
  margin: auto;

  @media screen and (min-width: $screen-xs) {
    width: 100%;
  }

  @media screen and (min-width: $screen-sm) {
    width: 750px;
  }

  @media screen and (min-width: $screen-md) {
    width: 1070px;
  }

  @media screen and (min-width: $screen-lg) {
    width: 1270px;
  }

  @media screen and (min-width: $screen-xl) {
    width: 1540px;
  }
}
