$screen-xs: 550px;
$screen-sm: 768px;
$screen-md: 1192px;
$screen-lg: 1300px;
$screen-xl: 1600px;

$color-charcoal-grey: #363e40;
$color-charcoal-grey-50: rgba(#363e40, 0.5);
$color-pinkish-grey: #cac9c9;
$color-charcoal-grey2: #3d4748;
$color-white: #f8f8f8;
$color-gunmetal: #486863;
$color-greeny-blue: #36a6b4;
$color-pale-red: #de6449;
$color-light-teal: #adeee3;
$color-ugly-blue: #2a8691;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Quattrocento', serif;
