.list-item {
  display: block;
  background-color: #fff;
  margin-bottom: 10px;

  @media screen and (min-width: $screen-sm) {
    display: flex;
  }

  @media screen and (min-width: $screen-xl) {
    margin-bottom: 20px;
  }

  &__right {
    width: 100%;
    border-top: solid 1px $color-pinkish-grey;
    border-left: solid 1px $color-pinkish-grey;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-sm) {
      width: 64%;
    }

    @media screen and (min-width: $screen-xl) {
      width: 57%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $color-pinkish-grey;

    &--grey {
      background-color: $color-white;
    }

    &--mobile {
      display: block;

      @media screen and (min-width: $screen-sm) {
        display: flex;
      }
    }
  }

  &__part {
    border-right: solid 1px $color-pinkish-grey;
    padding: 10px;

    @media screen and (min-width: $screen-xl) {
      padding: 20px;
    }

    &--justify {
      display: flex;
      justify-content: space-between;
    }

    &--full {
      width: 100%;
    }

    &--bigger {
      width: 68%;

      @media screen and (min-width: $screen-xs) {
        width: 58%;
      }
    }

    &--smaller {
      width: 32%;

      @media screen and (min-width: $screen-xs) {
        width: 42%;
      }
    }

    &--center {
      display: flex;
      align-items: center;
    }

    &--inner {
      padding: 0;
    }

    &--details {
      width: 100%;
      border-bottom: solid 1px $color-pinkish-grey;

      @media screen and (min-width: $screen-xs) {
        display: flex;
      }

      @media screen and (min-width: $screen-sm) {
        display: block;
        width: 58%;
        border-bottom: none;
      }
    }

    &--bottom {
      width: 100%;

      @media screen and (min-width: $screen-sm) {
        width: 42%;
      }
    }
  }

  &__last {
    height: 100%;
    display: flex;

    @media screen and (min-width: $screen-sm) {
      flex-direction: column;
    }
  }
}
