.list-item {
  display: block;
  background-color: #fff;
  margin-bottom: 10px;

  @media screen and (min-width: $screen-sm) {
    display: flex;
  }

  @media screen and (min-width: $screen-xl) {
    margin-bottom: 20px;
  }

  &__left {
    width: 100%;
    height: 290px;
    padding: 10px;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $screen-sm) {
      width: 36%;
      height: auto;
    }

    @media screen and (min-width: $screen-xl) {
      width: 43%;
      padding: 20px;
    }
  }

  &__recommended {
    position: absolute;
    top: 20px;
    left: 0;
    padding: 5px 10px 5px 20px;
    background-color: $color-charcoal-grey;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    z-index: 2;

    @media screen and (min-width: $screen-xl) {
      top: 40px;
      font-size: inherit;
    }
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: 120%;
  }

  &__right {
    width: 100%;
    border-top: solid 1px $color-pinkish-grey;
    border-left: solid 1px $color-pinkish-grey;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-sm) {
      width: 64%;
    }

    @media screen and (min-width: $screen-xl) {
      width: 57%;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $color-pinkish-grey;

    &--grey {
      background-color: $color-white;
    }

    &--mobile {
      display: block;

      @media screen and (min-width: $screen-sm) {
        display: flex;
      }
    }
  }

  &__part {
    border-right: solid 1px $color-pinkish-grey;
    padding: 10px;

    @media screen and (min-width: $screen-xl) {
      padding: 20px;
    }

    &--justify {
      display: flex;
      justify-content: space-between;
    }

    &--full {
      width: 100%;
    }

    &--bigger {
      width: 68%;

      @media screen and (min-width: $screen-xs) {
        width: 58%;
      }
    }

    &--smaller {
      width: 32%;

      @media screen and (min-width: $screen-xs) {
        width: 42%;
      }
    }

    &--center {
      display: flex;
      align-items: center;
    }

    &--inner {
      padding: 0;
    }

    &--details {
      width: 100%;
      border-bottom: solid 1px $color-pinkish-grey;

      @media screen and (min-width: $screen-xs) {
        display: flex;
      }

      @media screen and (min-width: $screen-sm) {
        display: block;
        width: 58%;
        border-bottom: none;
      }
    }

    &--bottom {
      width: 100%;

      @media screen and (min-width: $screen-sm) {
        width: 42%;
      }
    }
  }

  &__inner-part {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: $screen-xl) {
      padding: 15px 20px;
    }

    &--border-right {
      border-right: 1px solid $color-pinkish-grey;
    }

    &--border-bottom {
      border-bottom: 1px solid $color-pinkish-grey;
    }

    &--columns {
      padding: 0;
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      display: block;

      @media screen and (min-width: $screen-sm) {
        display: flex;
      }
    }

    &--weekly {
      display: block;
      border-right: solid 1px $color-pinkish-grey;
      text-align: left;

      @media screen and (min-width: $screen-sm) {
        border-right: none;
        border-bottom: solid 1px $color-pinkish-grey;
        text-align: center;
      }

      @media screen and (min-width: $screen-lg) {
        display: flex;
      }
    }
  }

  &__inner-row {
    line-height: 22px;
    width: 50%;
    flex-shrink: 0;
    padding-right: 10px;

    @media screen and (min-width: $screen-sm) {
      width: auto;
      padding-right: inherit;
      margin-bottom: 5px;
    }

    @media screen and (min-width: $screen-lg) {
      margin-bottom: 10px;
    }

    &--tags {
      width: 100%;

      @media screen and (min-width: $screen-xs) {
        width: 33.333%;
      }

      @media screen and (min-width: $screen-sm) {
        width: auto;
      }
    }
  }

  &__inner-column {
    min-width: 75px;
    display: flex;

    @media screen and (min-width: $screen-sm) {
      display: block;
      margin-right: 10px;
    }

    @media screen and (min-width: $screen-xl) {
      min-width: 90px;
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    margin-bottom: 5px;
  }

  &__year {
    font-weight: 400;
    display: block;
    margin-top: 5px;

    @media screen and (min-width: $screen-xs) {
      display: inline;
      margin-top: 0;
      margin-left: 5px;
    }
  }

  &__heart {
    display: none;
    align-items: center;

    @media screen and (min-width: $screen-xs) {
      display: flex;
    }

    &--liked {
      path {
        fill: $color-pale-red;
      }
    }
  }

  &__hot {
    min-width: 50px;
    text-align: left;
    color: $color-pale-red;
    line-height: 20px;

    @media screen and (min-width: $screen-xs) {
      min-width: 130px;
    }

    @media screen and (min-width: $screen-xl) {
      line-height: 22px;
      min-width: 150px;
    }
  }

  &__hot-badge {
    background-color: $color-pale-red;
    color: $color-white;
    padding: 0 5px;
    border-radius: 2px;
    font-weight: 600;
    display: block;
    text-align: center;

    @media screen and (min-width: $screen-xs) {
      display: inline-block;
    }
  }

  &__hot-text {
    font-size: 12px;

    @media screen and (min-width: $screen-sm) {
      font-size: initial;
    }
  }

  &__subheading {
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__text {
    color: $color-charcoal-grey-50;
    font-size: 12px;

    @media screen and (min-width: $screen-xl) {
      font-size: 14px;
    }
  }

  &__text-bold {
    font-weight: 600;
  }

  &__tag {
    margin-right: 10px;

    @media screen and (min-width: $screen-xs) {
      display: block;
    }

    @media screen and (min-width: $screen-sm) {
      display: inline-block;
    }

    &:nth-child(n + 3) {
      display: none;

      @media screen and (min-width: $screen-sm) {
        display: inline-block;
      }
    }

    &:before {
      content: '✔';
      display: inline;
      margin-right: 5px;
    }
  }

  &__extra {
    line-height: 20px;

    &:nth-child(n + 2) {
      &:after {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: inline;
        }
      }
    }

    &:nth-child(n + 3) {
      display: none;

      @media screen and (min-width: $screen-sm) {
        display: inline;
      }
    }

    @media screen and (min-width: $screen-xl) {
      line-height: 22px;
    }

    &:after {
      content: ',';
      display: inline;
      margin-right: 5px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__price {
    display: block;
    margin: 5px 0;

    @media screen and (min-width: $screen-sm) {
      display: inline-block;
      margin: 5px;
      display: flex;
      align-items: baseline;
      justify-content: center;
    }

    @media screen and (min-width: $screen-lg) {
      margin: 0 10px;
    }
  }

  &__price-amount {
    font-size: 16px;
    margin-right: 5px;

    @media screen and (min-width: $screen-xl) {
      font-size: 24px;
    }
  }

  &__questionmark {
    svg {
      width: 11px;

      @media screen and (min-width: $screen-md) {
        width: initial;
      }
    }
  }

  &__weekly-wrapper {
    height: 100%;
    display: flex;

    @media screen and (min-width: $screen-sm) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__direct {
    margin-bottom: 5px;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 10px;
    }
  }
}
